@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&display=swap');
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Rokkitt', serif;
}
html {
  scroll-behavior: smooth;
}
/* .profile-image {
  height: 100vh;
  top: 10%;
  bottom: 50%;
} */
.info-div {
  margin-top: 20%;
  font-family: 'Rokkitt', serif;
}
.nav-link {
  font-size: 25px;
}
img {
  border-radius: 20px;
}
